body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
.navSection{
    display: flex;
    width: 1600px;
    background-color: #fffffa;
    box-shadow: 0px 8px 24px rgb(0, 0, 0,0.1);
    margin: 0 auto;
    justify-content: space-between;
    height: 72px;
    align-items: center;
    margin-bottom: 110px;
}
.logo{
   padding-left: 3%; 
}
.logoCustom{
    height: 50px;
    width: 50px;
}
.nav{
    padding-right: 3%; 
}
ul{
    display: flex;
    
}
ul li{
    list-style: none;
    padding-right: 50px;
    
}
ul li a{
    text-decoration: none;
    color: black;
}
/*-----------hero section----------*/
.heroSection{
    display: flex;
    width: 1600px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 110px;
}
.heroContain{
    width: 50%;
}
.heroContain h1{
    font-size: 40px;
}

.heroContain h3 span{
   color: chocolate;
}

.heroContain a{
    text-decoration: none;
    background-color: chocolate;
    padding: 10px 30px;
    color: white;
    border-radius: 5px;
}
.heroImage{
    width: 50%;
    text-align: right;
}
.heroImage img{
    width: 50%;

    
}
    
/*---------------------company---------------------------*/
.myCompany{
    background-color: chocolate;
    width: 1600px;
    margin: 0 auto;
    padding: 30px 0px;
    margin-bottom: 110px;
    
}
.compContan{
    text-align: center;
    margin-bottom: 30px;
}
.compContan h1{
    font-size: 40px;
    padding: 0px;
    margin: 0px;
}
.compContan hr{
    width: 700px;
    border: 1px solid black;
    
}
.comImg{
    text-align: center;
}
.comImg a{
    text-decoration: none;
    padding: 0px 20px;
}
/*------------live demo-----------*/
.liveDemo{
    width: 1600px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.liveDemo h1{
    font-size:40px ;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
.liveDemo hr{
    width: 700px;
    border: 1px solid black;
}
/*----------damoCard------------*/
.damoCard{
    display: flex;
    width: 1600px;
    margin: 0 auto;
    margin-bottom: 110px;
    justify-content: space-between;
}
.card1{
    height: 500px;
    width: 300px;
    box-shadow: 3px 3px 3px 3px gray; 
    text-align: center;
    position: relative;
}
.card1 h1{
    color: chocolate;
    text-align: center;
    position: relative;
}
.card1 img{
    width: 100%;
    height: 40%;
    margin-bottom: 20px;
}
.card1 p{
    text-align:justify;
    padding: 5px;  
}
.demobtn{
    background-color: chocolate; 
    padding: 7px 30px;
    border: none;
    border-radius: 2px;
}
/*-----------testimolias----------*/
.testimolias{
    display: flex;
    width: 1600px;
    margin: 0 auto;
    margin-bottom: 110px;
    justify-content: space-between;
    
}
.testmonialCard{
    display: flex;
    justify-content: space-between;
    width: 450px;
    height: 150px;
    border: 1px solid chocolate;
    align-items: center;
    box-shadow: 2px 2px 2px  chocolate;
}
.namImg{
width: 40%;
margin-left: 10px;
}
.testImg img{
    height: 70px;
    width: 70px;
    border-radius: 100%;
}
.testNam span{
    color: black;
}
.testDescipt{
    width: 60%;
    text-align: justify;
    margin-right: 10px;
}